{
  "extends": "rallycoding",
  "rules": {
    "arrow-body-style": 0,
    'no-underscore-dangle': ['error', { allowAfterThis: true }]
  },
	"settings": {
		"import/resolver": {
		  "node": {
		    "extensions": [".js", ".ios.js", ".android.js"]
		  }
		}
  }
}
